html.muteAdsEnabled:before {
    content: 'YouMute Enabled';
    font-family: Roboto, arial, sans-serif;
    font-size: 60%;
    text-align: center;
    display: block;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 80px;
    padding: 8px 12px;
    background: rgba(0,0,0,0.5);
    color: white;
    text-shadow: 1px 1px 1px #444;
    z-index: 100;
}

/* Blur video ads while they are muted */
.muteAdsEnabled.adInProgress video {
    -webkit-filter: blur(10px) grayscale(1) !important;
}

.muteAdsEnabled.adInProgress .html5-video-player:before {
    content: 'Ad muted by YouMute';
    display: block;
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 99;
    transform: translate(-50%,-50%);
    font-family: Roboto, arial, sans-serif;
    font-size: 80%;
    font-style: italic;
    text-shadow: 1px 1px 1px #444;
    background: none;
}

.muteAdsEnabled.adInProgress .html5-video-player:after {
    content: attr(data-timeRemaining);
    display: block;
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 99;
    transform: translate(-50%,-150%);
    font-family: Roboto, arial, sans-serif;
    font-size: 200%;
    font-weight: bold;
    font-style: italic;
    text-shadow: 1px 1px 1px #444;
    background: none;
}

/* Turn off dismissable banner ads */
.hideBannersEnabled .ad-container,
.hideBannersEnabled .ytp-ad-overlay-container,
.hideBannersEnabled .ytp-ad-player-overlay {
    display: none !important;
}

/* Turn off those silly clickable annotations */
.hideAnnotationsEnabled .video-annotations {
    display: none !important;
}

/* Turn off author's suggested next video and subscribe button annotations */
.hideAnnotationsEnabled .ytp-cards-teaser,
.hideAnnotationsEnabled .annotation {
    display: none !important;
}
