.youMuteEnabled body {
    background: #8C0000 !important;
}

.youMuteEnabled:before {
    content: 'YouMute Enabled';
    font-family: Roboto, arial, sans-serif;
    font-size: 80%;
    text-align: center;
    display: block;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 8px 12px;
    background: #BC0000;
    color: white;
    z-index: 100;
}

/* Blur video ads while they are muted */
.youMuteEnabled.adInProgress video {
    -webkit-filter: blur(10px) grayscale(1) !important;
}

.youMuteEnabled.adInProgress .html5-video-player:before {
    content: 'Ad muted by YouMute';
    display: block;
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 99;
    transform: translate(-50%,-50%);
    font-family: Roboto, arial, sans-serif;
    font-size: 80%;
    font-style: italic;
    text-shadow: 1px 1px 1px #444;
    background: none;
}

/* Turn off dismissable banner ads */
.youMuteEnabled .ad-container {
    display: none !important;
}

/* Turn off those silly clickable annotations */
.youMuteEnabled .html5-video-content .video-annotations {
    display: none !important;
}
